    <nav aria-label="Repository">
      <a href="/{{ owner }}/{{ repository }}">Summary</a>
      <a href="/{{ owner }}/{{ repository }}/refs">Refs</a>
      <a href="/{{ owner }}/{{ repository }}/issues">Issues</a>
      <a href="/{{ owner }}/{{ repository }}/pulls">Pull requests</a>
      <a href="/{{ owner }}/{{ repository }}/watch">Watch</a>
      <a href="/{{ owner }}/{{ repository }}/atom.xml">Atom</a>
      <a href="/{{ owner }}/{{ repository }}/rss.xml">RSS</a>
      <a href="/{{ owner }}/{{ repository }}/search">Search</a>
    </nav>
