<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tit-cde.tit</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/tit</string>
    <string>--config</string>
    <string>/usr/local/var/tit/config.toml</string>
    <string>serve</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>UserName</key>
  <string>_tit</string>
</dict>
</plist>
